/* ProjectCarousel.css
   File: ProjectCarousel.css
   Student: Andres Acevedo
   StudentID: 12345678
   Date: 2025-02-04
*/

.carousel-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .carousel-item {
    text-align: center;
    animation: slideInFromRight 1s ease-in-out;
  }
  
  .carousel-image {
    width: 426px; /* Adjust size as desired */
    height: 240px; /* Adjust size as desired */
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  /* Increase the font size for the project title */
  .carousel-title {
    font-size: 2em; /* Increase this value to make the title larger */
    color: var(--title-thumbnail-color);
    font-weight: bold;
    margin-bottom: 10px; /* Optional, adjust spacing as needed */
  }
  
  /* Keyframes for sliding in from right to left */
  @keyframes slideInFromRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  